spring:
  application:
    name: catalog-api
  datasource:
    url: jdbc:h2:mem:catalog;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  flyway:
    enabled: false
  mail:
    host: localhost
    port: 25
    username:
    password:
    properties:
      mail.smtp.auth: false
      mail.smtp.starttls.enable: true

server:
  port: ${PORT:8080}
  servlet:
    context-path: /catalog

logging:
  level:
    org.springframework: info

supabase:
  project-reference: ${SUPABASE_PROJECT:aksxbcingfgvaffrrnag}
  s3:
    access-key-id: ${SUPABASE_ACCESS_KEY_ID:ecda7550a746a6efded3e4ab5ccab8a8}
    secret-access-key: ${SUPABASE_SECRET_ACCESS_KEY:6bfef46403a165c138bd54e2a18172a0c12e17fa1267423a14ded99005d0f7c8}
    region: ${SUPABASE_REGION:us-east-1}
    endpoint-url: ${SUPABASE_ENDPOINT_URL:https://aksxbcingfgvaffrrnag.storage.supabase.co/storage/v1/s3}
    bucket-name: ${SUPABASE_BUCKET:products}

--- # Postgres profile example
spring:
  config:
    activate:
      on-profile: postgres
  datasource:
    url: ${DB_URL:jdbc:postgresql://aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false

logging:
  level:
    org.springframework: info
